# Authentication
AUTH_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
AUTH_TRUST_HOST="true"
AUTH_URL="http://localhost:3000"

# POSTGRESQL
DATABASE_URL=""

# Test user
TEST_USER_EMAIL="test@example.com"
TEST_USER_PASSWORD="testpassword123"

# Email
RESEND_API_KEY=""
RESEND_SEND_EMAIL=""

# Discord 
RATE_LIMIT_DEBUG=true