# Authentication
BETTER_AUTH_SECRET="/ZT9T8TL/rUXS/KFNIJAJfAo7Y1N4Kmdqp/boEjiXVA="
BETTER_AUTH_URL="http://localhost:3000"

# GitHub OAuth
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# POSTGRESQL
DATABASE_URL=""

# Token (critical, used for end-to-end token encryption)
TOKEN_SECRET=""

# Cache (used for clearing cache via webhook)
CACHE_WEBHOOK_SECRET="some-super-secret-webhook-token"